<%- include('../includes/header'); %>

<div class="container">
    <form action="/register/save" method="post">
        name kasir:<br />
        <input
            type="text"
            name="username"
            placeholder="username"
            class="form-control"
            required
        /><br /><br />
        Email:<br />
        <input
            type="text"
            name="email"
            placeholder="Email"
            class="form-control"
            required
        /><br /><br />
        Password:<br />
        <input
            type="password"
            name="pass"
            placeholder="Password"
            class="form-control"
            required
        /><br /><br />
        <!-- submit button -->
        <input type="submit" value="login" />
    </form>
</div>

<%- include('../includes/footer'); %>
