<%- include('./includes/header'); %>

<div class="container">
    <h2 class="float-end">Halo <%= userName %>!</h2>

    <h2>Aplikasi Pemesanan</h2>
    <a href="/pesanan" class="btn btn-primary mt-3">Cek Pesanan</a>
</div>

<%- include('./includes/footer'); %>
